<class="container">
  <div class="row gx-30">

    <form method="POST" action="/shortURL">
      <div class="mb-4">
        <input class="form-control" type="url" placeholder="http://" required="required" name="inputURL" value="{{origlUrl}}">
      </div>
      <button class="btn btn-success mb-4" type="submit">Shorten</button>
      

      {{#if shortnumber}}
      <div class="mb-4">
        <h2>成功了!你的網址是:</h2> <h1 id="copy" >http://localhost:3000/{{shortnumber}} </h1>
      </div>
      {{!-- copy功能 --}}
      <button class="btn btn-danger mb-4" type="button" onclick="copyEvent('copy')" data-bs-toggle="modal" data-bs-target="#exampleModal">Copy</button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel">已經成功複製短網址</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h3>http://localhost:3000/{{shortnumber}}</h3>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <script>
        function copyEvent(id) {
          let str = document.getElementById(id);
          window.getSelection().selectAllChildren(str);
          document.execCommand("Copy")
        }
      </script>
      
      {{/if}}
    </form>
  </div>
</div>